---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import DriversStanding from "../components/DriversStanding.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <DriversStanding />
  </main>
</Layout>
