---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LastRace from "../components/LastRace.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <LastRace />
  </main>
</Layout>
