---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import TeamsStanding from "../components/TeamsStanding.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <TeamsStanding />
  </main>
</Layout>
