---
import type { Result } from "../interfaces/RaceResults";
interface Props {
  raceResult: Result;
}

const { raceResult } = Astro.props;
---

<div class="bg-gray-900 rounded-lg shadow-lg p-6">
  <p class="text-lg"><b>Circuit:</b> &nbsp;{raceResult.track}</p>
  <p class="text-lg">
    <b>Country:</b>&nbsp;
    {raceResult.country}
  </p>
  <p class="text-lg">
    <b>Date:</b> &nbsp;{String(raceResult.start_date).split("T")[0]}
  </p>
  <p class="text-lg"><b>Status:</b> &nbsp;{raceResult.status}</p>
</div>
