---
import type { RaceResult } from "../interfaces/RaceResults";
interface Props {
  title: string;
  raceResult: RaceResult;
}

const { title, raceResult } = Astro.props;
---

<div class="bg-gray-900 rounded-lg shadow-lg p-6">
  <p class="text-lg"><b>Circuit:</b> &nbsp;{raceResult.grandPrix}</p>
  <p class="text-lg">
    <b>Winner:</b>&nbsp;
    {raceResult.winner.firstname}
     &nbsp;{raceResult.winner.lastname}
  </p>
  <p class="text-lg">
    <b>Date:</b> &nbsp;{String(raceResult.date).split("T")[0]}
  </p>
  <p class="text-lg"><b>Laps:</b> &nbsp;{raceResult.laps}</p>
  <p class="text-lg">
    <b>Time:</b> &nbsp;{String(raceResult.time).split(".")[0]}
  </p>
</div>
