<a
  class="cursor-pointer bg-gray-800 text-white py-2 px-4 rounded-md shadow-md hover:bg-gray-700 transition-colors duration-300 ease-in-out flex flex-row gap-2"
>
  <slot name="before" />
  <slot />
</a>
