---
import { type RacesInterface, type Result } from "../interfaces/RaceResults";

import CardRace from "./CardRace.astro";

const year = new Date().getFullYear();

const { results }: RacesInterface = await fetch(
  `https://f1-live-motorsport-data.p.rapidapi.com/races/${year}`,
  {
    method: "GET",
    headers: {
      "X-RapidAPI-Key": "df163c1acdmsh067ecb6cddbce09p120c32jsn5325a2ac0db8",
      "X-RapidAPI-Host": "f1-live-motorsport-data.p.rapidapi.com",
    },
  }
).then((response) => response.json());
---

<section
  class="flex flex-col justify-center items-center my-8 max-w-7xl mx-auto"
>
  <h2 class="font-bold text-5xl mb-6">2023 RACES</h2>
  <div class="grid grid-cols-3 gap-4 mb-4 w-full">
    {
      results.map((raceResulting: Result) => (
        <CardRace raceResult={raceResulting} />
      ))
    }
  </div>
</section>
