---
import {
  type TeamsStandingsInterface,
  type constructorStanding,
} from "../interfaces/TeamsStandings";

const { constructorStandings }: TeamsStandingsInterface = await fetch(
  "https://fia-formula-1-championship-statistics.p.rapidapi.com/api/standings/constructors-standings?year=2023",
  {
    method: "GET",
    headers: {
      "X-RapidAPI-Key": "df163c1acdmsh067ecb6cddbce09p120c32jsn5325a2ac0db8",
      "X-RapidAPI-Host": "fia-formula-1-championship-statistics.p.rapidapi.com",
    },
  }
).then((response) => response.json());
---

<section
  class="flex flex-col justify-center items-center my-8 max-w-7xl mx-auto"
>
  <h2 class="font-bold text-5xl mb-6">2023 TEAMS STANDINGS</h2>
  <table class="bg-gray-900 max-w-7xl text-white w-full striped-table mb-8">
    <thead>
      <tr>
        <th>Position</th>
        <th>Team</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <!-- Insert table rows here -->
      {
        constructorStandings &&
          constructorStandings.map((constructorStand: constructorStanding) => (
            <tr class="h-10">
              <td class="text-center">{constructorStand.pos}</td>
              <td class="text-center">{constructorStand.team}</td>
              <td class="text-center">{constructorStand.pts}</td>
            </tr>
          ))
      }
    </tbody>
  </table>
</section>

<style>
  .striped-table {
    background-color: #282828;
  }

  .striped-table tr:nth-child(even) {
    background-color: #4b4b4b;
  }
</style>
