---
import Nav from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <body>
    <slot />
    <style is:global>
      :root {
        --accent: 236, 68, 68;
        --accent-light: 234, 116, 116;
        --accent-dark: 182, 31, 31;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      html {
        font-family: system-ui, sans-serif;
        background: #333333;
        background-size: 400% 400%;
        height: 100vh;
        color-scheme: dark;
      }
    </style>
  </body>
</html>
